<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <link rel="stylesheet" href="/createBlog.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <%- include("header.ejs") %>
    <div class="main-container">
        <div class="createBlogSection">
            <div class="heading">
                CREATE AND POST!
            </div>
            <form method="POST" action="/createyourpost">
                <div class="inputField inputName">Author(s) : <br>
                 <input type="text" name="author">
                </div>
                <div class="inputField inputTitle">Title : <br>
                 <input type="text" name="title">
                </div>
                <textarea placeholder="What's on your mind today?" class="bod" name="bodyText"></textarea>
            <button class="postBtn" type="submit">POST</button>
            </form>
            
        </div>
    </div>
</body>
</html>
