@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Dancing+Script:wght@400..700&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bitcount:wght@100..900&family=Dancing+Script:wght@400..700&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bitcount:wght@100..900&family=Dancing+Script:wght@400..700&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding : 0;
    margin : 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fdf3c0;
    overflow-x: hidden;
}

.hero{
    display: flex;
    flex-wrap: nowrap;
}

.container{
    display: flex;
    height: 80vh;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: right;
    align-items:center;

}

.heading{
    width: auto;
    width: 90%;
}

.name{
    height: 10%;
    font-family: "Lobster";
    font-size: 3rem;
    color: #ffa114;
    font-weight: 100;
}

.tagLine{
    height: 40%;
    font-family: "Andika";
    font-size: 8rem;
    color: #ffa114;
    font-weight: 900;
    line-height: 1;
}

.explore{
    background-color: #ffd864;
    height: 5rem;
    width: 13rem;
    margin: 5px;
    font-size: 1.2rem;
    color: #ffa114;
    font-family: "Roboto Mono";
    border: 4px solid white;
    cursor: pointer;
    font-weight: 700;
}

.explore:hover{
    border: 2px solid #ffa114;
}

.bubbleContainer {
  height: 80vh;
  width: 40vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  border-radius: 50%;
  background-color: #ffa114;
  position: absolute;
}

.b1 { border: 5px solid white; width: 130px; height: 130px; top: 20%; right: 5%; }
.b2 { border: 5px solid white; width: 190px;  height: 190px;  top: 12%;  left: 35%;  }
.b3 { border: 5px solid white; width: 150px; height: 150px; top: 40%; left: 10%; }
.b4 { border: 5px solid white; width: 230px; height: 230px; bottom: 0%; left: 0%;  }
.b5 { border: 5px solid white; width: 250px; height: 250px; bottom: 22%; right: 15%; }
.b6 { border: 5px solid white; width: 90px;  height: 90px;  bottom: 5%; left: 50%; }
.b7 { border: 5px solid white; width: 120px;  height: 120px;  bottom: 0%;  right: 5%;  }
.b8 { border: 5px solid white; width: 60px;  height: 60px;  top: 45%;  right: 3%;  }

.blogSection{
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}

.box{
    height: 130px;
    width: 270px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 2px 2px black;
    font-family: sans-serif;
    cursor: pointer;
}

.box .title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.box .body{
    font-size: 1rem;
    margin: 2px;
}

.box .author{
    font-size: 0.9rem;
    margin: 2px;
}

.box p {
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aboutSection{
    height: 85vh;
    width: 100vw;
    background-color: #ffd864;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo{
    width: 40%;
    height: 75%;
    border: 2px solid #193f56;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 90%;
    height: 90%;
    background-image: url("/cat.png");
    background-size: cover;
    border-radius: 50px;
}

.about-us{
    width: 40%;
    height: 50%;
    font-family: "Roboto Mono";
    text-align: left;
    color: #193f56;
}

h1{
    font-family: "Roboto Mono";
    font-size: 4.3rem;
    margin-bottom: 35px;
}

p{
    font-size: 1.4rem;
}

.contactSection{
    height: 90vh;
    width: 100vw;
    background-color: #ffa114;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdf3c0;
    font-family: "Roboto Mono";
}

.contactDetails{
    height: 65%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contactDetails h1{
    font-size: 3.7rem;
}
.contactDetails .numberDetails{
    font-size: 1.2rem;
}

i{
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
}

.userInput{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.userInput h1{
    font-size: 2.1rem;
}

.inputs{
    width: 80%;
    height: 70%;
}

input{
    width: 95%;
    background-color: #fdf3c0;
    border: none;
    height: 3rem;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #ffa114;
    padding: 5px;
}

.inputField{
    font-size: 1.1rem;
    margin: 40px 0px;
}

.inputName{
    margin-top: 0px;
}

.inputMessage input{
    height: 6rem;
}